.Todolist-li{
  margin: 8px 0 0 5px;
  width: 400px;
  min-width: 240px;
  height: 30px;  
  border: 1px solid #aaa;
  padding: 2px 5px;
  line-height: 30px;
  cursor: default;
  border-radius: 3px;
}
  .Todolist-li-done {
    width:30px;
    height:24px;
    border-radius: 5px;
    
  }

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }